<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatStar</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3>All Chats</h3>
    <form method="get" action="/chats/new">
      <button>New Chat</button>
    </form>
    <% for(let chat of chats){ %>
    <div class="chat">
      <p>From: <%= chat.from %></p>

      <div class="msg">
        <p><i><%= chat.msg %></i></p>
        <form action="/chats/<%=chat.id%>/edit" method="get">
          <button>Edit msg</button>
        </form>

        <br />
        <form action="/chats/<%=chat.id%>?_method=delete" method="post">
          <button>Delete msg</button>
        </form>
      </div>

      <p>To: <%= chat.to %></p>
      <hr />
      <p><%= chat.created_at.toString().split(" ")[4]%></p>
      <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
    </div>
    <!-- <br /><br /> -->
    <% } %>
  </body>
</html>
